<hr class="m-1">
{{ 'title.status_allowed'|trans({}, 'CredentialBundle') }}
<button
    type="button"
    class="collapsed p-0 btn btn-sm btn-transparent float-end"
    data-bs-toggle="collapse"
    data-bs-target=".multi-collapse-{{ credential.role|lower }}"
    aria-expanded="false"
    aria-controls="status-list-{{ credential.role|lower }} checkboxes-status-list-{{ credential.role|lower }}"
>
    <i class="fas fa-angle-down"></i>
</button>
<div class="collapse multi-collapse multi-collapse-{{ credential.role|lower }}">
    {% for status in credential.listeStatus %}
        <div>
            {{ status|capitalize }}
        </div>
    {% endfor %}
</div>