<hr class="m-1">
{% if is_granted('ROLE_CREDENTIAL_ACTION_ALLOWSTATUS') %}
    <input
        type="checkbox"
        class="lle-credential-checkbox-status-list"
        data-group-id="{{ group.id }}"
        data-credential-id="{{ credential.id }}"
        {% if statusAllowed[group.name ~ '-' ~ credential.role]|default(false) %}
            checked="checked"
        {% endif %}
        autocomplete="off"
    >
{% else %}
    {% if statusAllowed[group.name ~ '-' ~ credential.role]|default(false) %}
        <i class="fas fa-check-circle" style="color: #18CC1E;"></i>
    {% else %}
        <i class="far fa-times-circle" style="color: #CC0A0A;"></i>
    {% endif %}
{% endif %}
<div class="collapse multi-collapse multi-collapse-{{ credential.role|lower }}">
    <div class="lle-credential-group-{{ group.id }}-credential-{{ credential.id }}-show-status {% if not statusAllowed[group.name ~ '-' ~ credential.role]|default(false) %}d-none{% endif %}">
        {% for status in credential.statusList %}
            <div>
                {% if is_granted('ROLE_CREDENTIAL_ACTION_ALLOWSTATUS') %}
                    <input
                        type="checkbox"
                        class="lle-credential-checkbox-group-credential-status"
                        data-bs-toggle="tooltip"
                        data-group-id="{{ group.id }}"
                        data-credential-id="{{ credential.id }}"
                        data-credential-status="{{ status }}"
                        {% if actives[group.name ~ '-' ~ credential.role ~ '_' ~ status|upper]|default(false) %}
                            checked="checked"
                        {% endif %}
                        title="{{ status|capitalize }}"
                        autocomplete="off"
                    >
                {% else %}
                    {% if actives[group.name ~ '-' ~ credential.role ~ '_' ~ status|upper]|default(false) %}
                        <i class="fas fa-check-circle" style="color: #18CC1E;"></i>
                    {% else %}
                        <i class="far fa-times-circle" style="color: #CC0A0A;"></i>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
