<div class="card rounded-0">
    <div
        class="card-header collapsed border-white rounded-0 text-black"
        data-bs-toggle="collapse"
        data-bs-target="#section-all-roles"
        aria-expanded="false"
        aria-controls="section-all-roles"
    >
        <div class="d-flex justify-content-center align-items-center">
            <h6 class="m-0 fw-bold">
                {{ 'title.check_all_roles'|trans({}, 'CredentialBundle')|upper }}
            </h6>
            <span class="card-toggle ms-1 p-0 btn">
                <i class="fa fa-chevron-up text-black"></i>
            </span>
        </div>
    </div>
    <div id="section-all-roles" class="collapse">
        <div class="card-body p-0">
            <table class="m-0 table table-responsive table-bordered table-striped border-1 border-white text-center">
                <tr>
                    <th></th>
                    {% for group in groups %}
                        {% set nbCredentials = 0 %}
                        {% for credentials in credentialsBySections %}
                            {% set nbCredentials = nbCredentials + credentials|length %}
                        {% endfor %}

                        <th>
                            <div class="groups">
                                <span>
                                    {{ group.label }}
                                </span>
                            </div>
                            <input
                                type="checkbox"
                                class="lle-credential-checkbox-group"
                                data-group-id="{{ group.id }}"
                                data-confirm-message="{{ 'label.enable_or_disable'|trans({}, 'CredentialBundle') }} {{ nbCredentials }} {{ 'label.roles_question'|trans({}, 'CredentialBundle') }}"
                                autocomplete="off"
                            >
                        </th>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>
