<div class="card border-top-0 rounded-0">
    <div
        class="card-header collapsed border-white rounded-0 text-black"
        data-bs-toggle="collapse"
        data-bs-target="#section-{{ section|lower }}"
        aria-expanded="false"
        aria-controls="section-{{ section|lower }}"
    >
        <div class="d-flex justify-content-center align-items-center">
            <h6 class="m-0 fw-bold">
                {{ section|upper }}
            </h6>
            <span class="card-toggle ms-1 p-0 btn">
                <i class="fa fa-chevron-up text-black"></i>
            </span>
        </div>
    </div>
    <div id="section-{{ section|lower }}" class="collapse">
        <div class="card-body p-0">
            <table class="m-0 table table-responsive table-bordered table-striped border-1 border-white text-center">
                <tr>
                    <th>
                        <div class="groups"></div>
                        <span class="d-flex">
                            {{ 'title.all_roles'|trans({}, 'CredentialBundle') }} {{ section }}
                        </span>
                    </th>
                    {% for group in groups %}
                        <th>
                            <div class="groups">
                                <span>
                                    {{ group.label }}
                                </span>
                            </div>
                            {% if is_granted('ROLE_CREDENTIAL_ACTION_TOGGLERUBRIQUE') %}
                                <input
                                    type="checkbox"
                                    class="lle-credential-checkbox-group-section lle-credential-checkbox-group-{{ group.id }}-section"
                                    data-group-id="{{ group.id }}"
                                    data-section-name="{{ section|lower }}"
                                    data-confirm-message="{{ 'label.enable_or_disable'|trans({}, 'CredentialBundle') }} {{ credentials|length }} {{ 'label.roles_question'|trans({}, 'CredentialBundle') }}"
                                    autocomplete="off"
                                >
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                {% for credential in credentials %}
                    <tr>
                        <th class="text-start">
                            <span>
                                {% if credential.type %}
                                    {{ credential.type|trans }}:&nbsp;
                                {% endif %}
                                {% if 'ROLE_' in credential.label %}
                                    {{ credential.label }}
                                {% else %}
                                    {{ credential.label|trans }}
                                {% endif %}
                            </span>
                            {% if credential.statusList %}
                                {% include '@LleCredential/credential/_credential_allow_status.html.twig' %}
                            {% endif %}
                        </th>
                        {% for group in groups %}
                            <td>
                                {% if is_granted('ROLE_CREDENTIAL_ACTION_TOGGLECREDENTIAL') %}
                                    <input
                                        type="checkbox"
                                        class="lle-credential-checkbox lle-credential-checkbox-group-{{ group.id }}-credential lle-credential-checkbox-group-{{ group.id }}-section-{{ section|lower }}-credential"
                                        data-group-id="{{ group.id }}"
                                        data-credential-id="{{ credential.id }}"
                                        {% if actives[group.name ~ '-' ~ credential.role]|default(false) %}
                                            checked="checked"
                                        {% endif %}
                                        autocomplete="off"
                                    >
                                {% else %}
                                    {% if actives[group.name ~ '-' ~ credential.role]|default(false) %}
                                        <i class="fas fa-check-circle" style="color: #18CC1E;"></i>
                                    {% else %}
                                        <i class="far fa-times-circle" style="color: #CC0A0A;"></i>
                                    {% endif %}
                                {% endif %}
                                {% if credential.statusList %}
                                    {% include '@LleCredential/credential/_credential_check_status.html.twig' %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
