{% extends 'base.html.twig' %}

{% block page_title %}{{ 'title.admin_rights'|trans({}, 'CredentialBundle') }}{% endblock %}

{% block main %}
    {{ parent() }}

    <div class="page-header pb-5">
        <h2 class="title">{{ 'title.export_file'|trans({}, 'CredentialBundle') }}</h2>

        <div>
            {{ form_start(form) }}
                <div class="form-floating">
                    {{ form_widget(form.filename) }}
                    {{ form_label(form.filename) }}
                </div>
                <button type="submit" class="btn btn-primary mt-4">{{ 'label.save'|trans({}, 'CredentialBundle') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}