{% extends  "base.html.twig" %}

{% block page_title %}Admin droits{% endblock %}



{% block main %}
    {{ parent() }}

    <div class="page-header">
        <h2 class="title">Droits</h2>
    </div>
    <style>
        .bundle-credential .table-striped>tbody>tr:nth-of-type(odd){
            background-color: #DDD;
        }

        .bundle-credential .table{
            margin-bottom:0px;
        }

        .bundle-credential .all-roles{
            width:450px;
        }
    </style>

    <div class="bundle-credential box box-primary" style="border:1px solid #ccc; padding:5px; border-top:2px solid #3299DC;">

        {% set rubrique = '' %}
        {% set rubriqueId = 0 %}
            {% for cred in credentials %}
                {% if( rubrique != cred.rubrique) %}
                    {% set rubrique = cred.rubrique %}
                    {% set rubriqueId = rubriqueId + 1 %}
                    {%  if not loop.first %}</table>{%  endif %}
                    <div style="background-color: #CECECE; text-align: center; padding:3px;">
                        <strong>
                            {{ rubrique }} <span  id="btn-toggle-rubrique-{{ rubriqueId }}" onclick="toggleData('{{ rubriqueId }}')" class="fa fa-minus-square pull-right"></span>
                        </strong>
                    </div>
                    <table class="table table-responsive table-bordered table-striped">


                        <tr class="rubrique-groupe-data-{{ rubriqueId }}" >
                            <th class="all-roles">Tous les roles</th>
                            {% for group in groupes %}
                                <th style="background-color: #e2dfdf">
                                    {{ group.libelle ?? group.name|lower|humanize}}
                                    <input  data-rubrique="{{ rubriqueId }}" data-group="{{ group.id }}" id="lle-credential-cb-{{ rubriqueId }}-{{ group.id }}" class="checbox-all" type="checkbox" onclick="checkAllCbOfRubriqueForGroupe('{{ group.id }}', '{{ rubriqueId }}', this)">
                                </th>
                            {% endfor %}
                        </tr>
                {% endif %}
                <tr class="rubrique-groupe-data-{{ rubriqueId }}">
                    <th>{{cred.libelle ?? cred|lower|humanize}}</th>
                    {% for group in groupes %}
                    <td>
                            <input type="checkbox" data-rubrique="{{ rubriqueId }}" data-group="{{ group.id }}" class="lle-credential-cb cb-rubrique-{{ rubriqueId }}-group-{{ group.id }}" id="{{group.name}}-{{cred.role}}"
                            {% if actives[group.name ~ '-' ~ cred.role] ?? false %} checked=checked {% endif %}
                            >
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    </div>
    <script>
    function toggleData(rubriqueId) {
        $('.rubrique-groupe-data-'+rubriqueId).toggle();
        if ($('.rubrique-groupe-data-'+rubriqueId).is(':hidden')) {
            $('#btn-toggle-rubrique-'+rubriqueId).removeClass('fa-minus-square');
            $('#btn-toggle-rubrique-'+rubriqueId).addClass('fa-plus-square');
        } else {
            $('#btn-toggle-rubrique-'+rubriqueId).removeClass('fa-plus-square');
            $('#btn-toggle-rubrique-'+rubriqueId).addClass("fa-minus-square");
        }
    }

    function checkAllCbOfRubriqueForGroupe(group, rubriqueId, cb) {
        var checkboxes = $('.cb-rubrique-'+rubriqueId+'-group-'+group);
        var shouldCheck = window.confirm('Activer/desactiver '+ checkboxes.length+ ' role(s) ?');

        if (shouldCheck) {
            if (cb.checked) {
                checkboxes.prop("checked", true);
                checkboxes.trigger("change");
            } else {
                checkboxes.prop("checked", false);
                checkboxes.trigger("change");
            }
        } else {
            cb.checked = false;
        }
    }

    window.onload = function checkCheckboxIfAllChildChecboxesAreChecked() {

        var checboxesAll = $('.checbox-all');
        checboxesAll.each( function (i, cb) {
            var checkedChildChecboxes = $('.cb-rubrique-'+$(this).data('rubrique')+'-group-'+$(this).data('group')+':checked');
            var totalChildChecboxes = $('.cb-rubrique-'+$(this).data('rubrique')+'-group-'+$(this).data('group'));

            //all checkboxes are checked. So the "All" checbox must be checked aswell
            if (checkedChildChecboxes.length == totalChildChecboxes.length) {
                cb.checked = true;
            } else {
                cb.checked = false;
            }
        })
    }

    $(document).ready(function(){
        $('.lle-credential-cb').change( function(e) {
            var elm = $(this);
            var allchecked = true;
            if(elm.is(':checked')){
                $('.cb-rubrique-'+ elm.attr('data-rubrique') +'-group-'+ elm.attr('data-group')).each(function(){
                    if(!$(this).is(':checked')){
                        allchecked = false;
                    }
                });
                if(allchecked){
                    $('#lle-credential-cb-'+ elm.attr('data-rubrique') +'-'+ elm.attr('data-group')).prop("checked", true)
                }
            }else{
                console.log('#lle-credential-cb-'+ elm.attr('data-rubrique') +'-'+ elm.attr('data-group'))
                $('#lle-credential-cb-'+ elm.attr('data-rubrique') +'-'+ elm.attr('data-group')).prop("checked", false)
            }
            $.ajax({
                url: '/admin/credential/toggle',
                type: 'post',
                data: {'id': e.currentTarget.id},
                dataType: 'json'
            });
        });
    });
    </script>
{% endblock %}
