{% extends  "base.html.twig" %}

{% block page_title %}Admin droits{% endblock %}



{% block main %}
    {{ parent() }}

    <div class="page-header">
        <h2 class="title">Droits</h2>
    </div>

    <div>
    <table class="table">
        <tr>
            <th></th>
            {% set nbgroups = groupes|length %}
            {% for group in groupes %}
            <th>{{group.name}}</th>
            {% endfor %}
        </tr>
        {% set rubrique = '' %}
        {% for cred in credentials %}
        {% if( rubrique != cred.rubrique) %}
            {% set rubrique = cred.rubrique %}
            <tr>
                <td colspan="{{ nbgroups }}">{{ rubrique }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>{{cred}}</th>
            
            {% for group in groupes %}
            <td>
            <input type="checkbox" class="cb" id="{{group.name}}-{{cred.role}}"
            {% if actives[group.name ~ '-' ~ cred.role] ?? false %} checked=checked {% endif %}
            >
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    <script>
$(document).ready(function(){
    $('.cb').change( function(e) {
        $.ajax({
            url: '/admin/credential/toggle',
            type: 'post',
            data: {'id': e.currentTarget.id},
            dataType: 'json'
        });
    });
});
</script>
{% endblock %}
