{% extends  "base.html.twig" %}

{% block page_title %}{{ 'title.admin_rights' | trans({}, 'CredentialBundle') }}{% endblock %}

{% block content %}
    <div class="page-header d-flex justify-content-between">
        <h2 class="title">{{ 'title.rights' | trans({}, 'CredentialBundle') }}</h2>

        <div class="mt-2">
            {% if is_granted('ROLE_ADMIN_DROITS') %}
                <a href="{{ path('admin_credential_save') }}" class="btn btn-sm btn-primary">
                    {{ 'label.save'|trans({}, 'CredentialBundle') }}
                </a>
                <a href="{{ path('admin_credential_load') }}" class="btn btn-sm btn-primary">
                    {{ 'label.load'|trans({}, 'CredentialBundle') }}
                </a>
            {% endif %}
        </div>
    </div>
    <style>
        .bundle-credential .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #DDD;
        }

        .bundle-credential .table {
            margin-bottom: 0px;
        }

        .bundle-credential .all-roles {
            width: 450px;
        }
    </style>

    <div class="bundle-credential box box-primary"
         style="border:1px solid #ccc; padding:5px; border-top:2px solid #3299DC;">

        <table class="table table-responsive table-bordered table-striped">
            <tr>
                <th class="all-roles">{{ 'title.all_roles'|trans({}, 'CredentialBundle') }}</th>
                {% for group in groupes %}
                    <th style="background-color: #e2dfdf; vertical-align: bottom">
                        <div style="writing-mode: vertical-lr;">{{ group.libelle ?? group.name|lower|humanize }}&nbsp;
                        </div>
                        &nbsp;<input autocomplete="off" class="lle-credential-cb-check-group" type="checkbox"
                                     data-group="{{ group.id }}">
                    </th>
                {% endfor %}
            </tr>
        </table>

        {% set rubrique = '###' %}
        {% set rubriqueId = 0 %}
        {% for cred in credentials %}
        {% if rubrique != cred.rubrique %}
        {% set rubrique = cred.rubrique %}
        {% set rubriqueId = rubriqueId + 1 %}

        {% if not loop.first %}</table>{% endif %}

        <div style="background-color: #CECECE; text-align: center; padding:3px;" id="{{ rubrique }}">
            <strong>
                {{ rubrique }}
                <span data-toggle-rubrique="{{ rubriqueId }}" data-rubrique-visible="true"
                      class="fa fa-minus-square pull-right"></span>
            </strong>
        </div>

        <table class="table table-responsive table-bordered table-striped">
            <tr class="rubrique-groupe-data-{{ rubriqueId }}">
                <th class="all-roles">{{ 'title.all_roles' | trans({}, 'CredentialBundle') }}</th>
                {% for group in groupes %}
                    <th style="background-color: #e2dfdf; vertical-align: bottom" title="{{ group.libelle ?? group.name|lower|humanize }}">
                        <div style="writing-mode: vertical-lr;">{{ group.libelle ?? group.name|lower|humanize }}&nbsp;
                        </div>
                        &nbsp;<input autocomplete="off" data-rubrique-id="{{ rubriqueId }}"
                                     data-rubrique-name="{{ rubrique }}" data-group="{{ group.id }}"
                                     id="lle-credential-cb-{{ rubriqueId }}-{{ group.id }}"
                                     class="lle-credential-cb-check-rubrique" type="checkbox">
                    </th>
                {% endfor %}
            </tr>
            {% endif %}
            <tr class="rubrique-groupe-data-{{ rubriqueId }}">
                <th>
                    <span title="{{ cred.role }}">{{ cred.libelle }}</span>
                    {% if cred.listeStatus %}
                        <hr class="m-1">
                        {{ 'title.status_allowed' | trans({}, 'CredentialBundle') }}
                        <button class="p-0 float-end btn btn-sm btn-tranparent" type="button" data-bs-toggle="collapse"
                                data-bs-target=".multi-collapse-{{ cred.role }}" aria-expanded="false"
                                aria-controls="status-list-{{ cred.role }} checkboxes-status-list-{{ cred.role }}">
                            <i class="fas fa-angle-down"></i>
                        </button>
                        <div class="collapse multi-collapse multi-collapse-{{ cred.role }}"
                             id="status-list-{{ cred.role }}">
                            {% for status in cred.listeStatus %}
                                <div>
                                    {{ status|capitalize }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </th>
                {% for group in groupes %}
                    <td>
                        <input autocomplete="off" type="checkbox" data-rubrique-id="{{ rubriqueId }}"
                               data-rubrique-name="{{ rubrique }}" data-group="{{ group.id }}"
                               class="lle-credential-cb cb-group-{{ group.id }} cb-rubrique-{{ rubriqueId }}-group-{{ group.id }}"
                               id="{{ group.name }}-{{ cred.role }}"
                            {% if actives[group.name ~ '-' ~ cred.role] ?? false %} checked="checked" {% endif %}
                        >
                        {% if cred.listeStatus %}
                            <hr class="m-1">
                            <input
                                autocomplete="off"
                                type="checkbox"
                                data-group="{{ group.name }}"
                                data-credential="{{ cred.role }}"
                                data-status="{{ cred.listeStatus|join(',') }}"
                                class="cb-group-credential-status-allowed"
                                id="{{ group.name }}-{{ cred.role }}-status"
                                name="{{ group.name }}-{{ cred.role }}-status"
                                {% if statusAllowed[group.name ~ '-' ~ cred.role] ?? false %} checked="checked" {% endif %}
                            >
                            <div class="collapse multi-collapse multi-collapse-{{ cred.role }}"
                                 id="checkboxes-status-list-{{ cred.role }}">
                                <div
                                    class="{% if not statusAllowed[group.name ~ '-' ~ cred.role] ?? false %} d-none {% endif %}"
                                    id="show-all-status-checkboxes-{{ group.name }}-{{ cred.role }}">
                                    {% for status in cred.listeStatus %}
                                        <div>
                                            <input
                                                autocomplete="off"
                                                type="checkbox"
                                                class="cb-group-credential-allowed-by-status"
                                                id="{{ group.name }}-{{ cred.role }}-{{ status }}"
                                                {% if actives[group.name ~ '-' ~ cred.role ~ '_' ~ status|upper] ?? false %} checked="checked" {% endif %}
                                                data-bs-toogle="tooltip"
                                                title="{{ status|capitalize }}"
                                            >
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include '@LleCredential/credential/_script.html.twig' %}
{% endblock %}
