{% extends  "base.html.twig" %}

{% block page_title %}Admin droits{% endblock %}



{% block main %}
    {{ parent() }}

    <div class="page-header">
        <h2 class="title">Droits</h2>
    </div>

    <div class="box box-primary" style="border:1px solid #ccc; padding:5px; border-top:2px solid #3299DC;">
    <table class="table table-bordered">
        {% set rubrique = '' %}
        {% set rubriqueId = 0 %}
            {% for cred in credentials %}
                {% if( rubrique != cred.rubrique) %}
                    {% set rubrique = cred.rubrique %}
                    {% set rubriqueId = rubriqueId + 1 %}
                        <tr style="background-color: #CECECE">
                            <th style="text-align: center" colspan="6">
                                {{ rubrique }} <button style="float: right" id="btn-toggle-rubrique-{{ rubriqueId }}" class="btn btn-sm btn-primary" onclick="toggleData('{{ rubriqueId }}')"> Hide </button>
                            </th>
                        </tr>

                        <tr class="rubrique-groupe-data-{{ rubriqueId }}">
                                <th></th>
                            {% for group in groupes %}
                                <th style="background-color: #e2dfdf">{{group.name|lower|humanize}}</th>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th class="rubrique-groupe-data-{{ rubriqueId }}">All</th>
                            {% for group in groupes %}
                                <th class="rubrique-groupe-data-{{ rubriqueId }}">
                                    <input data-rubrique="{{ rubriqueId }}" data-group="{{ group.id }}" class="checbox-all" type="checkbox" onclick="checkAllCbOfRubriqueForGroupe('{{ group.id }}', '{{ rubriqueId }}', this)">
                                </th>
                            {% endfor %}
                        </tr>
                {% endif %}
                            <tr class="rubrique-groupe-data-{{ rubriqueId }}">
                                <th>{{cred |lower|humanize}}</th>
                                {% for group in groupes %}
                                <td>
                                        <input type="checkbox" class="cb cb-rubrique-{{ rubriqueId }}-group-{{ group.id }}" id="{{group.name}}-{{cred.role}}"
                                        {% if actives[group.name ~ '-' ~ cred.role] ?? false %} checked=checked {% endif %}
                                        >
                                </td>
                                {% endfor %}
                            </tr>
            {% endfor %}
    </table>
    </div>
    <script>
    function toggleData(rubriqueId) {
        $('.rubrique-groupe-data-'+rubriqueId).toggle();

        if ($('.rubrique-groupe-data-'+rubriqueId).is(':hidden')) {
            $('#btn-toggle-rubrique-'+rubriqueId).text("Show");
            console.log($('.btn-toggle-rubrique-'+rubriqueId));
        } else {
            $('#btn-toggle-rubrique-'+rubriqueId).text("Hide");
        }
    }

    function checkAllCbOfRubriqueForGroupe(group, rubriqueId, cb) {
        var checkboxes = $('.cb-rubrique-'+rubriqueId+'-group-'+group);
        var shouldCheck = window.confirm('Activer/desactiver '+ checkboxes.length+ ' role(s) ?');

        if (shouldCheck) {
            if (cb.checked) {
                checkboxes.prop("checked", true);
                checkboxes.trigger("change");
            } else {
                checkboxes.prop("checked", false);
                checkboxes.trigger("change");
            }
        } else {
            cb.checked = false;
        }
    }

    window.onload = function checkCheckboxIfAllChildChecboxesAreChecked() {

        var checboxesAll = $('.checbox-all');
        checboxesAll.each( function (i, cb) {
            var checkedChildChecboxes = $('.cb-rubrique-'+$(this).data('rubrique')+'-group-'+$(this).data('group')+':checked');
            var totalChildChecboxes = $('.cb-rubrique-'+$(this).data('rubrique')+'-group-'+$(this).data('group'));

            //all checkboxes are checked. So the "All" checbox must be checked aswell
            if (checkedChildChecboxes.length == totalChildChecboxes.length) {
                cb.checked = true;
            } else {
                cb.checked = false;
            }
        })
    }

    $(document).ready(function(){
        $('.cb').change( function(e) {
            $.ajax({
                url: '/admin/credential/toggle',
                type: 'post',
                data: {'id': e.currentTarget.id},
                dataType: 'json'
            });
        });
    });
    </script>
{% endblock %}
