{% extends 'base.html.twig' %}

{% block page_title %}{{ 'title.admin_rights' | trans({}, 'CredentialBundle') }}{% endblock %}

{% block content %}
    <script src="{{ asset('bundles/llecredential/credential/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/llecredential/credential/css.css') }}"/>

    <div class="page-header d-flex justify-content-between">
        <h2 class="title">{{ 'title.rights' | trans({}, 'CredentialBundle') }}</h2>

        <div class="mt-2">
            <a href="{{ path('admin_credential_load') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-cloud-download-alt"></i> {{ 'label.pull'|trans({}, 'CredentialBundle') }}
            </a>
            <a href="{{ credential_client_url }}" class="btn btn-sm btn-primary" target="_blank">
                {{ 'label.redirect_to_client'|trans({}, 'CredentialBundle') }} <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </div>

    <div id="lle-credential-matrice" class="mb-4">
        {% if is_granted('ROLE_CREDENTIAL_ACTION_TOGGLEGROUP') %}
            {% include '@LleCredential/credential/_rubrique_check_group.html.twig' %}
        {% endif %}

        {% for rubrique, credentials in credentialsByRubriques %}
            {% include '@LleCredential/credential/_rubrique.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
