{% extends  "base.html.twig" %}

{% block page_title %}Admin droits{% endblock %}



{% block main %}
    {{ parent() }}

    <div class="page-header">
        <h2 class="title">Droits</h2>
    </div>

    <div>
    <table class="table">
        {% set rubrique = '' %}
            {% for cred in credentials %}
                {% if( rubrique != cred.rubrique) %}
                    {% set rubrique = cred.rubrique %}
                        <tr>
                            <th>
                                {{ rubrique }} <span class ="btn btn-sm btn-secondary" onclick="toggleData('{{ rubrique }}')"> hide/show </span>
                            </th>
                            {% for group in groupes %}
                                <th>{{group.name|lower|humanize}}</th>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th class="rubrique-groupe-data-{{ rubrique }}">All</th>
                            {% for group in groupes %}
                                <th class="rubrique-groupe-data-{{ rubrique }}">
                                    <input type="checkbox" onclick="checkAllCbOfRubriqueForGroupe('{{ group.id }}', '{{ rubrique }}', this)">
                                </th>
                            {% endfor %}
                        </tr>
                {% endif %}
                            <tr class="rubrique-groupe-data-{{ rubrique }}">
                                <th>{{cred |lower|humanize}}</th>
                                {% for group in groupes %}
                                <td>
                                        <input type="checkbox" class="cb cb-rubrique-{{ rubrique }}-group-{{ group.id }}" id="{{group.name}}-{{cred.role}}"
                                        {% if actives[group.name ~ '-' ~ cred.role] ?? false %} checked=checked {% endif %}
                                        >
                                </td>
                                {% endfor %}
                            </tr>
            {% endfor %}
    </table>
    </div>
    <script>
    function toggleData(rubrique) {
        $('.rubrique-groupe-data-'+rubrique).toggle();
    }

    function checkAllCbOfRubriqueForGroupe(group, rubrique, cb) {
        var checkboxes = $('.cb-rubrique-'+rubrique+'-group-'+group);
        if (cb.checked) {
            checkboxes.prop("checked", true);
            checkboxes.change();
        } else {
            checkboxes.prop("checked", false);
            checkboxes.change();
        }
    }

    $(document).ready(function(){
        $('.cb').change( function(e) {
            $.ajax({
                url: '/admin/credential/toggle',
                type: 'post',
                data: {'id': e.currentTarget.id},
                dataType: 'json'
            });
        });
    });
    </script>
{% endblock %}
